* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1e90ff;
}

body {
  background-color: #46143e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bod {
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  margin-left: 10px;
  position: absolute;
  background-color: rgb(70, 20, 62, 0.8);
}

.wallpaper{
  width: 768px;
  height: 300px;
}

.zone{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  width: 768px;
}

h3 {
  color: #46143e;
  text-align: center;
  width: 100vw;
  background-color: #1e90ff;
  height: fit-content;
}

.logo {
  position: absolute;
  top: 280px;
  left: 660px;
}

.active-page {
  color: #1e90ff;
  background-color: #46143e;
  border: #1e90ff 1px solid;
  text-decoration: none;
  pointer-events: none;
}

nav {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

a {
  color: white;
}

nav > a {
  padding: 3px;
  color: #46143e;
  background-color: #1e90ff;
  text-decoration: none;
  margin-bottom: 2rem;
  text-align: center;
}

nav > a:hover {
  color: #1e90ff;
  background-color: #46143e;
  border: #1e90ff 1px solid;
  transition: all 0.5s;
  transform: scale(1.15);
}

#cuerpo {
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  width: 630px;
  min-height: 300px;
  margin-block-end: 2rem;
  flex-direction: column;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 10px;
  margin-left: 40px;
}

dl {
  padding-bottom: 10px;
}

h4 {
  padding-bottom: 5px;
}

p {
  padding-bottom: 10px;
}

#about > p {
  text-indent: 20px;
  padding-bottom: 20px;
}

th {
  padding-left: 2rem;
}

td {
  padding-left: 2rem;
  text-align: center;
}

ol {
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

#rules > p {
  text-indent: 20px;
}

.maps{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.maps>h2{
  width: 100%;
  text-decoration: underline;
  text-align: center;
}

.single-map{
  display: block;
}

.single-map>h4{
  text-align: center;
}

iframe{
  padding-bottom: 20px;
}

#foot {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

fieldset{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #3b1234;
}

input{
  background-color: #1e90ff;
  color:#46143e;
  margin-right: 10px;
  margin-left: 5px;
}

select{
  background-color: #1e90ff;
  color:#46143e;
}

option{
  background-color: #1e90ff;
  color:#46143e;
}

#form-title{
  width: 100%;
  font-size: 1.2rem;
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
  font-weight: bold;
}

#form-subtitle{
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

#send{
  padding: 5px 15px;
}

.menu-burger{
  width: 32px;
  height: 32px;
  display: none;
}

@media only screen and (max-width:770px){

  body{
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: hidden;
  }

  .bod{
    width: 768px;
  }

  nav{
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
  }

  nav>a{
    text-align: center;
    width: 10%;
  }

  header{
    flex-direction: column;
  }

  h1{
    margin: 0;
    width: 100vw;
    font-size: 1.8rem;
  }

  .wallpaper{
    width: 100vw;
  }

}

@media only screen and (max-width:480px){
  header{
    flex-direction: column;
  }

  h1{
    margin: 0;
    width: 100vw;
    font-size: 1.8rem;
  }

  .wallpaper{
    width: 100vw;
    height: auto;
  }

  .zone{
    flex-direction: column;
    width: 100vw;
  }

  .logo{
    top: 27vh;
    left: 80vw;
  }

  #cuerpo{
    width: 100vw;
    padding: 0;
  }

  nav{
    padding-left: 0;
    margin-bottom: 20px;
  }

  nav>a{
    width: 115px;
  }

  th{
    padding: 0;
  }
  td{
    padding: 0;
  }
  #foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}